*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(#009788 150px, #DADBD5 150px, #DADBD5 1000px);
}

.central{
    width: 90%;
    height: 900px;
    background-color: #fff;
}

.hr_content{
    height: 70px;
    background-color: lightgray;
}

.avatar_container{
    width: 60px;
    border-radius: 50%;
}

.avatar_container img{
    border-radius: 50%;
}

img{
    width: 100%;
}

.icon_container{
    width: 70px;
}

.r_border{
    border-right: 1px solid gray;
}

.b_border{
    border-bottom: 1px solid gray;
}

.msg_section{
    height: calc(100% - 106px);
    background-image: url(../img/mine.jpg);
}

.my_flex{
    display: flex;
}

.msg{
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.msg-pc{
    background-color: #fff;
    margin-left: 20px;
}

.msg-user{
    background-color: #D5F9BB;
    margin-right: 20px;
}

.bg_lightgray{
    background-color: lightgray;
}

ol, ul {
    margin-bottom: 0;
}

.hr_content span{
    margin-left: 10px;
}