*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(#009788 150px, #DADBD5 150px, #DADBD5 1000px);
}

.central{
    width: 90%;
    height: 900px;
    background-color: #fff;
}

.hr_content{
    height: 70px;
    background-color: lightgray;
}

.avatar_container{
    width: 60px;
    border-radius: 50%;
}

.avatar_container img{
    border-radius: 50%;
}

img{
    width: 100%;
}

.icon_container{
    width: 70px;
}

.r_border{
    border-right: 1px solid gray;
}

.b_border{
    border-bottom: 1px solid gray;
}

.msg_section{
    height: calc(100% - 70px);
    background-image: url(../img/mine.jpg);
}

.my_flex{
    display: flex;
}